---
import Layout from '../../layouts/Layout.astro'
import { HeroImage } from '../../components/ui'
import Breadcrumbs from '../../components/Breadcrumbs.astro'
import img from '../../img/stock-images/library.jpeg'
import data from '../../data/designated-candidates.json'
---

<Layout title="Designated Candidates">
  <Breadcrumbs
    items={[
      {
        name: 'About',
        url: '/about',
      },
      {
        name: 'Designated Candidates',
        url: '/about/designated-candidates',
        current: true,
      },
    ]}
  />
  <HeroImage
    src={img}
    alt="The Irondequoit Library in front of a crisp autumn sky"
    minHeight={'small'}
  >
    <h1>Designated Candidates</h1>
  </HeroImage>
  <div
    class="container mx-auto max-w-3xl drop-shadow-2xl col-span-1 row-span-1 row-start-3 col-start-1"
  >
    <h2 class="text-2xl">What is a "Designated Candidate"?</h2>
    <p>
      According to New York State Law, “designation” is defined as “any method
      […] by which candidates for party nomination for public office or for
      election to party position may be named for the purpose of any primary
      election.”
    </p>
    <p>
      In plain English, this means that “designated candidates” are candidates
      that are going to be on the ballot in the primary election. The
      Irondequoit Democratic Committee votes on which candidates we want to
      designate, and those votes go up to the Monroe County Democratic Committee
      (MCDC). Then, MCDC compiles the votes from all the Committees in the
      county, and the winning candidates appear on the primary ballot for
      Democratic voters to choose from.
    </p>

    <h2>Designated Candidates in 2023</h2>
    {
      data.positions.map((position) => {
        return (
          <>
            <h3>{position.name}</h3>
            <ul>
              {position.candidates.map((candidate) => {
                return (
                  <li>
                    {candidate.name}
                    <img src={candidate.img} />
                  </li>
                )
              })}
            </ul>
          </>
        )
      })
    }
  </div>
</Layout>
