---
import showdown from 'showdown'
import Layout from '@/layouts/Layout.astro'
import { HeroImage } from '@/components/ui'
import PersonCard from '@/components/PersonCard.astro'
import img from '@/img/stock-images/town-hall-center-winter.jpg'
import data from '@/data/about.json'
import { getCollection } from 'astro:content'

const people = await getCollection('people')

const converter = new showdown.Converter()

const imageImports = import.meta.glob(
  '../../../public/images/{uploads,people}/*.{jpg,png,jpeg}',
  { import: 'default' }
)

const positions = data.leadership.map((position) => ({
  ...position,
  person: people.find((p) => position.person === p.slug)?.data,
}))

const images = Object.fromEntries(
  await Promise.all(
    positions
      .filter((position) => position.person?.img)
      .map(async (position) => {
        const imgImport =
          await imageImports['../../../public' + position.person?.img]()
        return [position.person?.img, imgImport]
      })
  )
)

const aboutText = converter.makeHtml(data.about)
---

<Layout title="About">
  <HeroImage
    src={img}
    alt="The regal front pillars of the Irondequoit Town Hall, with snow on the ground"
    minHeight={'small'}
  >
    <h1>About</h1>
  </HeroImage>
  <div
    class="container mx-auto max-w-3xl drop-shadow-2xl col-span-1 row-span-1 row-start-3 col-start-1"
  >
    <h2>About the Irondequoit Democratic Committee</h2>
    <div set:html={aboutText} />

    <h2>Committee Leadership</h2>

    <ul class="grid grid-cols-2 gap-3 md:grid-cols-2 lg:grid-cols-4 list-none">
      {
        positions.map((position) => {
          if (!position.person) return null
          const img = position.person.img && images[position.person.img]
          return (
            <li>
              <PersonCard
                title={position.person.name}
                img={
                  img && {
                    img: img,
                    alt: `Headshot of ${position.person.name}`,
                  }
                }
              />
            </li>
          )
        })
      }
    </ul>
  </div>
</Layout>
