---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import Card from '@/components/Card.astro'
import img from '@/img/stock-images/library.jpg'
import HeroImage from '@/components/ui/HeroImage.astro'

const pressReleases = (
  await getCollection('press-releases', ({ data }) => {
    return data.draft !== true
  })
).sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title="Press Releases">
  <div class="container max-w-3xl px-6 text-white">
    <HeroImage
      src={img}
      alt="The Irondequoit Library in front of a crisp autumn sky"
      minHeight={'small'}
    >
      <h1>Press Releases</h1>
    </HeroImage>
    <div class="grid full-width gap-16 min-h-[75vh]">
      <ul>
        {
          pressReleases.map((pressRelease) => {
            return (
              <li class="mb-8">
                <Card
                  title={pressRelease.data.title}
                  date={pressRelease.data.date}
                  href={`/press-releases/${pressRelease.slug.replace(
                    /^(\d{4})-(\d{2})-(\d{2})-/,
                    '$1/$2/$3/'
                  )}`}
                  body={pressRelease.data.subtitle}
                />
              </li>
            )
          })
        }
      </ul>
    </div>
  </div>
</Layout>
