---
import Layout from '@/layouts/Layout.astro'
import { HeroImage } from '@/components/ui'
import img from '@/img/stock-images/town-hall-corner-winter.jpg'
---

<Layout>
  <HeroImage
    src={img}
    alt="The Irondequoit Library in front of a crisp autumn sky"
    minHeight={'full'}
  >
    <h1>Irondequoit Democratic Committee</h1>
    <p class="text-2xl px-4 pt-10 max-w-[60ch] mx-auto">
      We work to further the cause of honest open government in our town,
      county, state, and nation. We are your neighbors and coworkers. By
      participating in campaigns of Democrats running for seats up and down the
      ballot, we can make sure the needs of our community are heard and
      addressed by our elected leaders.
    </p>
  </HeroImage>
</Layout>
