@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

p + p {
  @apply pt-2;
}

picture {
  @apply contents;
}
picture source {
  @apply hidden;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*='language-'],
body pre[class*='language-'] {
  @apply bg-gray-800;
}

.hero-img {
  position: relative;
}
.hero-img:before,
.hero-img:after {
  clip-path: polygon(100% 0, 93% 55%, 95% 100%, 0 100%, 0 1%);
  left: 0;
  right: 0;
  height: 100%;
  display: block;
  position: absolute;
  content: '';
  z-index: -1;
}
.hero-img:after {
  right: -10px;
  opacity: 0.3;
  z-index: -2;
}

.full-width {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
