<header class="{{ 'lg:sticky lg:top-0 backdrop-blur-md bg-[#fffd]' if path == 'home' }} w-full z-10">
	<script>
    document.addEventListener('alpine:init', () => {
        Alpine.bind('navbarMobileButton', () => ({
            '@click'() {
                this.isOpen = !this.isOpen
								// const width = document.body.scrollWidth
								// if (this.isOpen) {
								// 	document.body.classList.add('overflow-x-hidden')
								// 	console.log('foo', (width - document.body.scrollWidth) + 'px')
								// 	// document.body.style.paddingRight = (document.body.scrollWidth - width) + 'px'
								// } else {
								// 	const menu = this.$refs.menu
								// 	const fn = () => {
								// 		document.body.classList.remove('overflow-x-hidden')
								// 		document.body.style.paddingRight = '';
								// 		menu.removeEventListener('transitionend', fn)
								// 		menu.removeEventListener('transitioncancel', fn)
								// 	}
								// 	menu.addEventListener('transitionend', fn)
								// 	menu.addEventListener('transitioncancel', fn)
								// }
            },
        }))
    })
	</script>
	<nav
	  aria-label="Main navigation"
		class="flex items-center justify-center lg:justify-between lg:px-0"
		x-data="{ isOpen: false }"
		@keydown.escape="isOpen = false"
		@click.away="isOpen = false"
	>
		<!--Logo etc-->
		<div class="flex items-center px-4  max-w-[20rem] flex-grow hero-img after:bg-brand before:bg-brand">
			<a href="/" class="text-indigo-500 font-bold text-lg mt-2">
				<img
					src="/static/img/logos/primary-dark.png"
					width="704"
					height="376"
					class="h-24 w-auto"
					alt="Irondequoit Democratic Committee"
				/>
			</a>
		</div>

		<!--Toggle button (hidden on large screens)-->
		<button
			x-bind="navbarMobileButton"
			type="button"
			class="z-10 ml-auto block lg:hidden p-6 px-2 text-primary-500 hover:text-primary-500 focus:text-primary-500"
			:aria-expanded="isOpen ? 'true' : 'false'"
			aria-label="Menu"
		>
			<svg
				class="h-10 w-10 fill-current"
				xmlns="http://www.w3.org/2000/svg"
				viewbox="0 0 24 24"
			>
				<path
					x-show="isOpen"
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
				/>
				<path
					x-show="!isOpen"
					fill-rule="evenodd"
					d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
				/>
			</svg>
		</button>

		<!--Menu-->
		<div
			class="flex-grow max-lg:fixed max-lg:bg-white p-6 top-0 max-lg:h-screen w-72 max-w-full lg:w-full lg:flex lg:items-center lg:w-auto text-center backdrop"
			:class="{ 'block shadow-2xl right-0': isOpen, 'left-full': !isOpen }"
			x-ref="menu"
			x-show="isOpen"
			x-show.transition="true"
			x-transition:enter="transition ease-out duration-300"
			x-transition:enter-start="translate-x-72"
			x-transition:enter-end="translate-x-0"
			x-transition:leave="transition ease-in duration-300"
			x-transition:leave-start="-translate-x-72"
			x-transition:leave-end="translate-x-0"
		>
			{% set navPages = collections.all | eleventyNavigation %}
			<!-- Start item list -->
			{% if navPages %}
			<ul
				class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center"
			>
				{% for item in navPages %}
				<li class="mr-3 group">
					{% if item.children.length %}
					<a
						@click="isOpen = false"
						class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 focus:text-indigo-500 py-2 px-4 {% if item.url == page.url %}text-brand{% endif %}"
						{% if item.url == page.url %}aria-current="page"{% endif %}
						href="{{ item.url }}"
						>{{ item.key }}</a
					>
					<ul class="hidden group-hover:block group-focus-within:block absolute bg-red-500">
						{% for child in item.children %}
						<li class="">
							<a
								@click="isOpen = false"
								class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 focus:text-indigo-500 py-2 px-4 {% if child.url == page.url %}text-brand{% endif %}"
								{% if item.url == page.url %}aria-current="page"{% endif %}
								href="{{ child.url }}"
								>{{ child.key }}</a
							>
							</li>
						{% endfor %}
					</ul>
					{% else %}
					<a
						@click="isOpen = false"
						class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 focus:text-indigo-500 py-2 px-4 {% if item.url == page.url %}text-brand{% endif %}"
						{% if item.url == page.url %}aria-current="page"{% endif %}
						href="{{ item.url }}"
						>{{ item.key }}</a
					>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</nav>
</header>
