---
import { Picture } from '@astrojs/image/components'

type Props = {
  src: ImageMetadata
  alt: string
  minHeight?: 'full' | 'partial'
}

const { src, alt, minHeight = 'partial' } = Astro.props

const minHeightClasses = {
  full: 'min-h-[90vh]',
  partial: 'min-h-[55vh]',
}
---

<div
  class={`full-width max-w-3xl ${minHeightClasses[minHeight]} px-6 text-white relative z-0 bg-gradient-to-br from-brand to-brand-light`}
>
  <Picture
    slot="image"
    src={src}
    alt={alt}
    widths={[1500, 1000, 800]}
    formats={['avif', 'webp', 'jpeg']}
    sizes=""
    background="black"
    aspectRatio={src.width / src.height}
    class="object-cover brightness-50 z-10 w-full h-full inset-0 absolute"
  />
  <div
    class={`container ${minHeightClasses[minHeight]} flex flex-col justify-center drop-shadow-2xl py-10 z-20 relative`}
  >
    <slot />
  </div>
</div>
